<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.wfl.corodva.dingtalk" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-dingtalk</name>
    <js-module name="cordova-plugin-dingtalk" src="www/cordova-plugin-dingtalk.js">
        <clobbers target="cordova.plugins.cordova-plugin-dingtalk" />
    </js-module>
</plugin>
